@font-face {
  font-family: 'pf_agora_sans_prolight';
  src: url('fonts/pfagorasanspro-light-webfont.eot');
  src: url('fonts/pfagorasanspro-light-webfont.eot?#iefix') format('embedded-opentype'),
       url('fonts/pfagorasanspro-light-webfont.woff') format('woff'),
       url('fonts/pfagorasanspro-light-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'pf_agora_sans_prolight';
  src: url('fonts/pfagorasanspro-lightital-webfont.eot');
  src: url('fonts/pfagorasanspro-lightital-webfont.eot?#iefix') format('embedded-opentype'),
       url('fonts/pfagorasanspro-lightital-webfont.woff') format('woff'),
       url('fonts/pfagorasanspro-lightital-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'pf_agora_sans_pro';
  src: url('fonts/pfagorasanspro-reg-webfont.eot');
  src: url('fonts/pfagorasanspro-reg-webfont.eot?#iefix') format('embedded-opentype'),
       url('fonts/pfagorasanspro-reg-webfont.woff') format('woff'),
       url('fonts/pfagorasanspro-reg-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'pf_agora_sans_pro';
  src: url('fonts/pfagorasanspro-italic-webfont.eot');
  src: url('fonts/pfagorasanspro-italic-webfont.eot?#iefix') format('embedded-opentype'),
       url('fonts/pfagorasanspro-italic-webfont.woff') format('woff'),
       url('fonts/pfagorasanspro-italic-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}