@import "less/reset.less";
@import "less/mixins.less";
@import "less/fonts.less";

/*

  Mixins:

  .clearfix();
  .center-block();
  .border-radius(@radius: 5px);
  .box-shadow(@shadow);
  .rotate(@degrees);
  .box-sizing(@boxmodel);
  .opacity(@opacity);
  .horizontal_gradient(@startColor: #555, @endColor: #333);
  .vertical(@startColor: #555, @endColor: #333);

  Fonts:

  'pf_agora_sans_prolight'
  'pf_agora_sans_pro'

*/

@header_bg: #f0f0ee;
@section_bg: #f0f0ee;
@footer_bg: #000000;
@footer_color: #cbd0d4;
@nav_bg: #e0e3e5;
@nav_hover: #cbd0d4;
@nav_color: #556270;
@color_red: #ca292e;
@color_blue: #0380d8;
@color_hr: #dddddd;
@font_light: 'pf_agora_sans_prolight', sans-serif;
@font_regular: 'pf_agora_sans_pro', sans-serif;
@font_std: Tahoma, sans-serif;

.img_user() {
  background: url('i/usr.png') no-repeat scroll top left;
  display: inline-block;
  width: 16px;
  height: 15px;
}
.img_slide() {
  background: url('i/slide.png') no-repeat scroll center;
  height: 449px;
}
.img_partner_3() {
  background: url('i/partner_03.png') no-repeat scroll top left;
  width: 213px;
  height: 85px;
}
.img_partner_2() {
  background: url('i/partner_02.png') no-repeat scroll top left;
  width: 114px;
  height: 99px;
}
.img_partner_1() {
  background: url('i/partner_01.png') no-repeat scroll top left;
  width: 99px;
  height: 99px;
}
.size_menu() {
  width: 53px;
  height: 53px;
}
.size_article() {
  width: 27px;
  height: 27px;
  background-size: cover !important;
}
.img_menu_11() {
  background: url('i/m_11.png') no-repeat scroll top left;
}
.img_menu_10() {
  background: url('i/m_10.png') no-repeat scroll top left;
}
.img_menu_09() {
  background: url('i/m_09.png') no-repeat scroll top left;
}
.img_menu_08() {
  background: url('i/m_08.png') no-repeat scroll top left;
}
.img_menu_07() {
  background: url('i/m_07.png') no-repeat scroll top left;
}
.img_menu_06() {
  background: url('i/m_06.png') no-repeat scroll top left;
}
.img_menu_05() {
  background: url('i/m_05.png') no-repeat scroll top left;
}
.img_menu_04() {
  background: url('i/m_04.png') no-repeat scroll top left;
}
.img_menu_03() {
  background: url('i/m_03.png') no-repeat scroll top left;
}
.img_menu_02() {
  background: url('i/m_02.png') no-repeat scroll top left;
}
.img_menu_01() {
  background: url('i/m_01.png') no-repeat scroll top left;
}
.img_line() {
  background: url('i/line.png') no-repeat scroll top center;
  height: 6px;
}
.img_jazz() {
  background: url('i/jazz.png') no-repeat scroll top left;
  display: block;
  width: 46px;
  height: 46px;
}
.img_home() {
  background: url('i/home.png') no-repeat scroll top left;
  display: inline-block;
  width: 24px;
  height: 22px;
}
.img_header_gd() {
  background: url('i/h.gd.png') no-repeat scroll top left;
  display: block;
  margin: 0 auto;
  width: 237px;
  height: 45px;
}
.img_header {
  background: url('i/h.bg.png') repeat;
  height: 45px;
}
.img_arr_top() {
  background: url('i/arr.top.png') no-repeat scroll top left;
  width: 18px;
  height: 17px;
  display: inline-block;
} 
.img_arr_down() {
  background: url('i/arr.down.png') no-repeat scroll top left;
  width: 18px;
  height: 17px;
  display: inline-block;
}
.img_menu_str() {
  background: url('i/menu.str.png') no-repeat scroll top left;
  width: 26px;
  height: 12px;
}
.wrap {
  width: 1220px;
  margin: 0 auto;
}
.hr() {
  border: none;
  margin: 0;
  border-bottom: 1px solid @color_hr;
}

header {
  background: @header_bg;
  .line {
    .img_header();
    a {.img_header_gd();}
  }
  .rainbow {
    .img_line();
    margin: 0 0 20px;
  }
  a.logo, ul.main {
    margin: 0 0 30px;
  }
  a.logo {
    .img_jazz();
    float: left;
  }
  ul.main {
    font: 22px/22px @font_light;
    float: right;
    margin: 12px 0 0;
    li {
      float: left;
      border-left: 1px dotted #000;
      padding: 0 20px 0 20px;
      &:first-child {
        padding-left: 0;
        border-left: none;
      }
    }
    a {
      text-decoration: none;
      color: #000;
      float: left;
      margin: 0 0 -2px;
      &.red {color: @color_red;font-family: @font_regular;}
    }
    span.home {
      .img_home();
      margin: -1px 0 0;
    }
  }
  h1, p {
    margin: 0 0 20px;
  }
  h1 {
    float: left;
    font: 75px/60px @font_light;
    font-variant: small-caps;
    width: 620px;
    span {color: @color_red;}
  }
  p {
    float: right;
    width: 580px;
    font: 14px/20px @font_regular;
    padding: 14px 0 0 0;
  }
  .slide {
    .img_slide();
  }
  nav {
    background: @nav_bg;
    ul {
      li {
        span.icon {display: block;margin: 0 auto 11px;.size_menu();}
        width: 110px;
        float: left;
        text-align: center;
        font: 10px/1 @font_light;
        a {
          text-decoration: none;
          color: @nav_color;
          display: block;
          padding: 27px 0 16px 0;
          width: 110px;
          float: left;
          position: relative;
          i {
            height: 100%;
            width: 1px;
            position: absolute;
            display: none;
            top: 0;
            background: url(i/menu.active.bg.png) repeat;
            &:nth-child(1) {left: 0; }
            &:nth-child(2) {right: 0;}
          }
          &:after {
            display: none;
            content: ' ';
            .img_menu_str();
            position: absolute;
            bottom: -12px;
            left: 50%;
            margin: 0 0 0 -13px;
          }
          &:hover {
            background: @nav_hover;
            i{display: block;}
            &:after {display: block;}
          }
        }
        &:nth-child(1)  span.icon {.img_menu_01();}
        &:nth-child(2)  span.icon {.img_menu_02();}
        &:nth-child(3)  span.icon {.img_menu_03();}
        &:nth-child(4)  span.icon {.img_menu_04();}
        &:nth-child(5)  span.icon {.img_menu_05();}
        &:nth-child(6)  span.icon {.img_menu_06();}
        &:nth-child(7)  span.icon {.img_menu_07();}
        &:nth-child(8)  span.icon {.img_menu_08();}
        &:nth-child(9)  span.icon {.img_menu_09();}
        &:nth-child(10) span.icon {.img_menu_10();}
        &:nth-child(11) span.icon {.img_menu_11();}
      }
    }
  }
}

.content {
  background: @section_bg;
  padding: 50px 0 10px;
}

section {
  width: 900px;
  float: left;
  article {
    padding: 0 0 30px;
    margin: 0 0 20px;
    border-bottom: 1px solid @color_hr;
    clear: both;
    img {
      max-width: 100%;
    }
    p.none {font: 14px/24px @font_std;text-align: center;}
    .stats {
      float: left;
      width: 200px;
      padding: 0 30px 40px 0;
      border-right: 1px solid @color_hr;
      text-align: right;
      font: 14px/24px @font_std;
      p.name {
        color: #000;
        font: 14px/24px @font_std;
        span {text-transform: uppercase;}
      }
      p.user {
        span {
          .img_user();
          margin: 0 5px 0 0;
          vertical-align: -2px;
        }
        a {color: @color_blue;}
      }
      p.date {
        font-variant: small-caps;
        color: #777777;
        margin: 0 0 20px;
      }
      .categories {
        a {
          .size_article();
          display: inline-block;
          opacity: 0.7;
          margin: 3px;
          &:hover {opacity: 1;}
        }
        a.type_1  {.img_menu_01();}
        a.type_2  {.img_menu_02();}
        a.type_3  {.img_menu_03();}
        a.type_4  {.img_menu_04();}
        a.type_5  {.img_menu_05();}
        a.type_6  {.img_menu_06();}
        a.type_7  {.img_menu_07();}
        a.type_8  {.img_menu_08();}
        a.type_9  {.img_menu_09();}
        a.type_10 {.img_menu_10();}
        a.type_11 {.img_menu_11();}
      }
    }
    .data {
      margin-left: 260px;
      font: 14px/20px @font_std;
      color: #272727;
      h3 {
        font: 35px/1 @font_light;
        color: #000;
        margin: 0 0 15px;
        a {color: #000;text-decoration: none;}
        a:hover {text-decoration: underline;}
      }
      p {
        margin: 0 0 15px;
      }
      a {color: @color_blue;}
      img {
        display: block;
        margin: 0 0 20px;
      }
    }
  }
  .pagination {
    font: 12px/1.2 @font_regular;
    color: #000;
    text-align: center;
    a {color: @color_blue;}
    hr {.hr();}
    ul:nth-child(1) li {font-size: 18px;padding: 10px;}
    ul:last-child li {padding: 10px 3px 20px;}
    li {display: inline-block;}
  }
}

aside {
  width: 286px;
  float: right;
  .banner {
    margin: 0 0 45px;
  }
  .label_fun() {
    display: block;
    font: 24px/1 @font_light;
    text-transform: uppercase;
    margin: 0 0 20px;
  }
  .tours {
    @tour_height: 220px;
    margin: 0 0 60px;
    label {
      .label_fun();
      margin: 0;
    }
    .wrapper {
      height: @tour_height * 3 + 30px * 2;
      overflow: hidden;
    }
    .tour {
      position: relative;
      margin: 0 0 30px;
      a:hover h6 {text-decoration: underline;}
      .data {
        position: absolute;
        bottom: 10px;
        left: 10px;
        width: 246px;
        padding: 10px;
        background: rgba(255, 255, 255, 0.8);
        h6 {
          font: 16px/18px @font_light;
          color: #000;
          margin: 0 0 10px;
        }
        p.price {
          font: 24px @font_regular;
          color: #ca292e;
          float: left;
        }
        p.days {
          float: right;
          font: 10px @font_regular;
          color: #383838;
          padding: 10px 0 0;
        }
      }
      img.bg {
        display: block;
        height: @tour_height;
      }
    }
    ul {
      height: 17px;
      line-height: 17px;
      margin: 17px 0 17px;
      float: right;
      font: 14px @font_light;
      li.this {margin: 0 0 0 4px;}
      li.max  {margin: 0 4px 0 0;}
      li {
        a.l, a.r {
          vertical-align: -3px;
        }
        a.l {.img_arr_top();}
        a.r {.img_arr_down();}
        display: inline-block;
      }
    }
  }
  .articles {
    margin: 0 0 50px;
    label {
      .label_fun();
      margin: 0 0 35px;
    }
    .data {
      .elem {
        padding: 0 0 25px;
        margin: 0 0 25px;
        border-bottom: 1px solid @color_hr;
        p.date {
          font: 14px/20px @font_std;
          font-variant: small-caps;
          color: #777777;
          margin: 0 0 7px;
        }
        h5 {
          font: 20px/1.3 @font_regular;
          margin: 0 0 7px;
          a {color: @color_blue;}
        }
        p {
          font: 14px/20px @font_std;
          color: #272727;
        }
      }
    }
  }
  .partners {
    background: #fff;
    padding: 25px 20px;
    margin: 0 0 50px;
    label {
      .label_fun();
    }
    a {display: block;float: left;}
    a:nth-child(1) {.img_partner_1();}
    a:nth-child(2) {.img_partner_2();}
    a:nth-child(3) {.img_partner_3();}
  }
  .tags {
    padding: 0 0 0 20px;
    margin: 0 0 30px;
    label {
      .label_fun();
      margin: 0 0 10px;
    }
    p {
      font: 14px/24px @font_std;
      color: #666666;
      a {color: #666666;text-decoration: none;padding-right: 15px;}
      a:hover {color: @color_blue;text-decoration: underline;}
    }
  }
}

footer {
  background: @footer_bg;
  font: 12px/14px @font_std;
  color: @footer_color;
  padding: 20px 0;
}







