/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: normal;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.clear {
  clear: both;
  height: 0px;
  line-height: 0px;
  font-size: 0px;
  overflow: hidden;
}
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
@font-face {
  font-family: 'pf_agora_sans_prolight';
  src: url('fonts/pfagorasanspro-light-webfont.eot');
  src: url('fonts/pfagorasanspro-light-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/pfagorasanspro-light-webfont.woff') format('woff'), url('fonts/pfagorasanspro-light-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'pf_agora_sans_prolight';
  src: url('fonts/pfagorasanspro-lightital-webfont.eot');
  src: url('fonts/pfagorasanspro-lightital-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/pfagorasanspro-lightital-webfont.woff') format('woff'), url('fonts/pfagorasanspro-lightital-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'pf_agora_sans_pro';
  src: url('fonts/pfagorasanspro-reg-webfont.eot');
  src: url('fonts/pfagorasanspro-reg-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/pfagorasanspro-reg-webfont.woff') format('woff'), url('fonts/pfagorasanspro-reg-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'pf_agora_sans_pro';
  src: url('fonts/pfagorasanspro-italic-webfont.eot');
  src: url('fonts/pfagorasanspro-italic-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/pfagorasanspro-italic-webfont.woff') format('woff'), url('fonts/pfagorasanspro-italic-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}
/*

  Mixins:

  .clearfix();
  .center-block();
  .border-radius(@radius: 5px);
  .box-shadow(@shadow);
  .rotate(@degrees);
  .box-sizing(@boxmodel);
  .opacity(@opacity);
  .horizontal_gradient(@startColor: #555, @endColor: #333);
  .vertical(@startColor: #555, @endColor: #333);

  Fonts:

  'pf_agora_sans_prolight'
  'pf_agora_sans_pro'

*/
.img_header {
  background: url('i/h.bg.png') repeat;
  height: 45px;
}
.wrap {
  width: 1220px;
  margin: 0 auto;
}
header {
  background: #f0f0ee;
}
header .line {
  background: url('i/h.bg.png') repeat;
  height: 45px;
}
header .line a {
  background: url('i/h.gd.png') no-repeat scroll top left;
  display: block;
  margin: 0 auto;
  width: 237px;
  height: 45px;
}
header .rainbow {
  background: url('i/line.png') no-repeat scroll top center;
  height: 6px;
  margin: 0 0 20px;
}
header a.logo,
header ul.main {
  margin: 0 0 30px;
}
header a.logo {
  background: url('i/jazz.png') no-repeat scroll top left;
  display: block;
  width: 46px;
  height: 46px;
  float: left;
}
header ul.main {
  font: 22px/22px 'pf_agora_sans_prolight', sans-serif;
  float: right;
  margin: 12px 0 0;
}
header ul.main li {
  float: left;
  border-left: 1px dotted #000;
  padding: 0 20px 0 20px;
}
header ul.main li:first-child {
  padding-left: 0;
  border-left: none;
}
header ul.main a {
  text-decoration: none;
  color: #000;
  float: left;
  margin: 0 0 -2px;
}
header ul.main a.red {
  color: #ca292e;
  font-family: 'pf_agora_sans_pro', sans-serif;
}
header ul.main span.home {
  background: url('i/home.png') no-repeat scroll top left;
  display: inline-block;
  width: 24px;
  height: 22px;
  margin: -1px 0 0;
}
header h1,
header p {
  margin: 0 0 20px;
}
header h1 {
  float: left;
  font: 75px/60px 'pf_agora_sans_prolight', sans-serif;
  font-variant: small-caps;
  width: 620px;
}
header h1 span {
  color: #ca292e;
}
header p {
  float: right;
  width: 580px;
  font: 14px/20px 'pf_agora_sans_pro', sans-serif;
  padding: 14px 0 0 0;
}
header .slide {
  background: url('i/slide.png') no-repeat scroll center;
  height: 449px;
}
header nav {
  background: #e0e3e5;
}
header nav ul li {
  width: 110px;
  float: left;
  text-align: center;
  font: 10px/1 'pf_agora_sans_prolight', sans-serif;
}
header nav ul li span.icon {
  display: block;
  margin: 0 auto 11px;
  width: 53px;
  height: 53px;
}
header nav ul li a {
  text-decoration: none;
  color: #556270;
  display: block;
  padding: 27px 0 16px 0;
  width: 110px;
  float: left;
  position: relative;
}
header nav ul li a i {
  height: 100%;
  width: 1px;
  position: absolute;
  display: none;
  top: 0;
  background: url(i/menu.active.bg.png) repeat;
}
header nav ul li a i:nth-child(1) {
  left: 0;
}
header nav ul li a i:nth-child(2) {
  right: 0;
}
header nav ul li a:after {
  display: none;
  content: ' ';
  background: url('i/menu.str.png') no-repeat scroll top left;
  width: 26px;
  height: 12px;
  position: absolute;
  bottom: -12px;
  left: 50%;
  margin: 0 0 0 -13px;
}
header nav ul li a:hover {
  background: #cbd0d4;
}
header nav ul li a:hover i {
  display: block;
}
header nav ul li a:hover:after {
  display: block;
}
header nav ul li:nth-child(1) span.icon {
  background: url('i/m_01.png') no-repeat scroll top left;
}
header nav ul li:nth-child(2) span.icon {
  background: url('i/m_02.png') no-repeat scroll top left;
}
header nav ul li:nth-child(3) span.icon {
  background: url('i/m_03.png') no-repeat scroll top left;
}
header nav ul li:nth-child(4) span.icon {
  background: url('i/m_04.png') no-repeat scroll top left;
}
header nav ul li:nth-child(5) span.icon {
  background: url('i/m_05.png') no-repeat scroll top left;
}
header nav ul li:nth-child(6) span.icon {
  background: url('i/m_06.png') no-repeat scroll top left;
}
header nav ul li:nth-child(7) span.icon {
  background: url('i/m_07.png') no-repeat scroll top left;
}
header nav ul li:nth-child(8) span.icon {
  background: url('i/m_08.png') no-repeat scroll top left;
}
header nav ul li:nth-child(9) span.icon {
  background: url('i/m_09.png') no-repeat scroll top left;
}
header nav ul li:nth-child(10) span.icon {
  background: url('i/m_10.png') no-repeat scroll top left;
}
header nav ul li:nth-child(11) span.icon {
  background: url('i/m_11.png') no-repeat scroll top left;
}
.content {
  background: #f0f0ee;
  padding: 50px 0 10px;
}
section {
  width: 900px;
  float: left;
}
section article {
  padding: 0 0 30px;
  margin: 0 0 20px;
  border-bottom: 1px solid #dddddd;
  clear: both;
}
section article img {
  max-width: 100%;
}
section article p.none {
  font: 14px/24px Tahoma, sans-serif;
  text-align: center;
}
section article .stats {
  float: left;
  width: 200px;
  padding: 0 30px 40px 0;
  border-right: 1px solid #dddddd;
  text-align: right;
  font: 14px/24px Tahoma, sans-serif;
}
section article .stats p.name {
  color: #000;
  font: 14px/24px Tahoma, sans-serif;
}
section article .stats p.name span {
  text-transform: uppercase;
}
section article .stats p.user span {
  background: url('i/usr.png') no-repeat scroll top left;
  display: inline-block;
  width: 16px;
  height: 15px;
  margin: 0 5px 0 0;
  vertical-align: -2px;
}
section article .stats p.user a {
  color: #0380d8;
}
section article .stats p.date {
  font-variant: small-caps;
  color: #777777;
  margin: 0 0 20px;
}
section article .stats .categories a {
  width: 27px;
  height: 27px;
  background-size: cover !important;
  display: inline-block;
  opacity: 0.7;
  margin: 3px;
}
section article .stats .categories a:hover {
  opacity: 1;
}
section article .stats .categories a.type_1 {
  background: url('i/m_01.png') no-repeat scroll top left;
}
section article .stats .categories a.type_2 {
  background: url('i/m_02.png') no-repeat scroll top left;
}
section article .stats .categories a.type_3 {
  background: url('i/m_03.png') no-repeat scroll top left;
}
section article .stats .categories a.type_4 {
  background: url('i/m_04.png') no-repeat scroll top left;
}
section article .stats .categories a.type_5 {
  background: url('i/m_05.png') no-repeat scroll top left;
}
section article .stats .categories a.type_6 {
  background: url('i/m_06.png') no-repeat scroll top left;
}
section article .stats .categories a.type_7 {
  background: url('i/m_07.png') no-repeat scroll top left;
}
section article .stats .categories a.type_8 {
  background: url('i/m_08.png') no-repeat scroll top left;
}
section article .stats .categories a.type_9 {
  background: url('i/m_09.png') no-repeat scroll top left;
}
section article .stats .categories a.type_10 {
  background: url('i/m_10.png') no-repeat scroll top left;
}
section article .stats .categories a.type_11 {
  background: url('i/m_11.png') no-repeat scroll top left;
}
section article .data {
  margin-left: 260px;
  font: 14px/20px Tahoma, sans-serif;
  color: #272727;
}
section article .data h3 {
  font: 35px/1 'pf_agora_sans_prolight', sans-serif;
  color: #000;
  margin: 0 0 15px;
}
section article .data h3 a {
  color: #000;
  text-decoration: none;
}
section article .data h3 a:hover {
  text-decoration: underline;
}
section article .data p {
  margin: 0 0 15px;
}
section article .data a {
  color: #0380d8;
}
section article .data img {
  display: block;
  margin: 0 0 20px;
}
section .pagination {
  font: 12px/1.2 'pf_agora_sans_pro', sans-serif;
  color: #000;
  text-align: center;
}
section .pagination a {
  color: #0380d8;
}
section .pagination hr {
  border: none;
  margin: 0;
  border-bottom: 1px solid #dddddd;
}
section .pagination ul:nth-child(1) li {
  font-size: 18px;
  padding: 10px;
}
section .pagination ul:last-child li {
  padding: 10px 3px 20px;
}
section .pagination li {
  display: inline-block;
}
aside {
  width: 286px;
  float: right;
}
aside .banner {
  margin: 0 0 45px;
}
aside .tours {
  margin: 0 0 60px;
}
aside .tours label {
  display: block;
  font: 24px/1 'pf_agora_sans_prolight', sans-serif;
  text-transform: uppercase;
  margin: 0 0 20px;
  margin: 0;
}
aside .tours .wrapper {
  height: 720px;
  overflow: hidden;
}
aside .tours .tour {
  position: relative;
  margin: 0 0 30px;
}
aside .tours .tour a:hover h6 {
  text-decoration: underline;
}
aside .tours .tour .data {
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: 246px;
  padding: 10px;
  background: rgba(255, 255, 255, 0.8);
}
aside .tours .tour .data h6 {
  font: 16px/18px 'pf_agora_sans_prolight', sans-serif;
  color: #000;
  margin: 0 0 10px;
}
aside .tours .tour .data p.price {
  font: 24px 'pf_agora_sans_pro', sans-serif;
  color: #ca292e;
  float: left;
}
aside .tours .tour .data p.days {
  float: right;
  font: 10px 'pf_agora_sans_pro', sans-serif;
  color: #383838;
  padding: 10px 0 0;
}
aside .tours .tour img.bg {
  display: block;
  height: 220px;
}
aside .tours ul {
  height: 17px;
  line-height: 17px;
  margin: 17px 0 17px;
  float: right;
  font: 14px 'pf_agora_sans_prolight', sans-serif;
}
aside .tours ul li.this {
  margin: 0 0 0 4px;
}
aside .tours ul li.max {
  margin: 0 4px 0 0;
}
aside .tours ul li {
  display: inline-block;
}
aside .tours ul li a.l,
aside .tours ul li a.r {
  vertical-align: -3px;
}
aside .tours ul li a.l {
  background: url('i/arr.top.png') no-repeat scroll top left;
  width: 18px;
  height: 17px;
  display: inline-block;
}
aside .tours ul li a.r {
  background: url('i/arr.down.png') no-repeat scroll top left;
  width: 18px;
  height: 17px;
  display: inline-block;
}
aside .articles {
  margin: 0 0 50px;
}
aside .articles label {
  display: block;
  font: 24px/1 'pf_agora_sans_prolight', sans-serif;
  text-transform: uppercase;
  margin: 0 0 20px;
  margin: 0 0 35px;
}
aside .articles .data .elem {
  padding: 0 0 25px;
  margin: 0 0 25px;
  border-bottom: 1px solid #dddddd;
}
aside .articles .data .elem p.date {
  font: 14px/20px Tahoma, sans-serif;
  font-variant: small-caps;
  color: #777777;
  margin: 0 0 7px;
}
aside .articles .data .elem h5 {
  font: 20px/1.3 'pf_agora_sans_pro', sans-serif;
  margin: 0 0 7px;
}
aside .articles .data .elem h5 a {
  color: #0380d8;
}
aside .articles .data .elem p {
  font: 14px/20px Tahoma, sans-serif;
  color: #272727;
}
aside .partners {
  background: #fff;
  padding: 25px 20px;
  margin: 0 0 50px;
}
aside .partners label {
  display: block;
  font: 24px/1 'pf_agora_sans_prolight', sans-serif;
  text-transform: uppercase;
  margin: 0 0 20px;
}
aside .partners a {
  display: block;
  float: left;
}
aside .partners a:nth-child(1) {
  background: url('i/partner_01.png') no-repeat scroll top left;
  width: 99px;
  height: 99px;
}
aside .partners a:nth-child(2) {
  background: url('i/partner_02.png') no-repeat scroll top left;
  width: 114px;
  height: 99px;
}
aside .partners a:nth-child(3) {
  background: url('i/partner_03.png') no-repeat scroll top left;
  width: 213px;
  height: 85px;
}
aside .tags {
  padding: 0 0 0 20px;
  margin: 0 0 30px;
}
aside .tags label {
  display: block;
  font: 24px/1 'pf_agora_sans_prolight', sans-serif;
  text-transform: uppercase;
  margin: 0 0 20px;
  margin: 0 0 10px;
}
aside .tags p {
  font: 14px/24px Tahoma, sans-serif;
  color: #666666;
}
aside .tags p a {
  color: #666666;
  text-decoration: none;
  padding-right: 15px;
}
aside .tags p a:hover {
  color: #0380d8;
  text-decoration: underline;
}
footer {
  background: #000000;
  font: 12px/14px Tahoma, sans-serif;
  color: #cbd0d4;
  padding: 20px 0;
}
